.images{
    width:30vw;
       position:relative;
       margin-left:40px;      
}

.images img{
    width:15vw;  
}

.images >div:first-child{
  /* border:1px solid black; */
  position:absolute;
  right:25%;
}
 
.images >div:last-child{

 z-index:1;
  
}
















/* .parent {
    position: relative;
    top: 0;
    left: 0;
  }
  .image1 {
    position: relative;
    top: 0;
    left: 0;
    border: 1px red solid;
  }
  .image2 {
    position: absolute;
    top: 30px;
    left: 30px;
    border: 1px green solid;
  } */