header{
   /*  border:2px solid red; */
   margin-top: 2%;
    display:flex;
    justify-content: center;
   
    height:10vh;
}
header > nav{
   /*  border:2px dashed blue; */
   flex-grow: 0.3;   
 }
 header > nav>ul{
     margin-left: 30%;  
    display:flex;
    justify-content:space-around; 
    align-items: center;  
 }
 header > nav>ul>li{
     display:inline;    
 }

